///////////////VARIABLES///////////////

//COLORS

$color-primary: #378F32;
$color-secondary:#FF8800;
$color-headline:#000000;
$color-paragraph:#7D7D7D;
$color-primary-btn:#789376;
$color-btn-text:#ffffff;

//SIZES
$size-xxs: 550px;
$size-xs: 768px;
$size-s: 1180px;
$size-m: 1290px;
$size-l: 1600px;
$size-xl: 1760px;
$size-xxl: 1800px;

//DEBUG

$debug: false;


